In [4]:
import pandas as pd
df = pd.read_csv("career_data.csv")
df

          skills         interests   work_style                career_path
0         python     data analysis  independent               Data Analyst
1         python  machine learning  independent  Machine Learning Engineer
2     statistics              math  independent             Data Scientist
3  communication  content creation     creative       Social Media Manager
4         design        creativity     creative             UI/UX Designer
5       research     deep thinking  independent              AI Researcher
6     javascript   web development         team         Frontend Developer
7         python           backend         team          Backend Developer
8     management        leadership         team            Product Manager
9      analytics          business         team           Business Analyst

In [5]:
from sklearn.preprocessing import LabelEncoder

# Create encoders
skill_enc = LabelEncoder()
interest_enc = LabelEncoder()
style_enc = LabelEncoder()
career_enc = LabelEncoder()

# Apply encoders to each column
df["skills_encoded"] = skill_enc.fit_transform(df["skills"])
df["interests_encoded"] = interest_enc.fit_transform(df["interests"])
df["work_style_encoded"] = style_enc.fit_transform(df["work_style"])
df["career_encoded"] = career_enc.fit_transform(df["career_path"])

df

,skills,interests,work_style,career_path,skills_encoded,interests_encoded,work_style_encoded,career_encoded
0,python,data analysis,independent,Data Analyst,5,4,1,3
1,python,machine learning,independent,Machine Learning Engineer,5,7,1,6
2,statistics,math,independent,Data Scientist,7,8,1,4
3,communication,content creation,creative,Social Media Manager,1,2,0,8
4,design,creativity,creative,UI/UX Designer,2,3,0,9
5,research,deep thinking,independent,AI Researcher,6,5,1,0
6,javascript,web development,team,Frontend Developer,3,9,2,5
7,python,backend,team,Backend Developer,5,0,2,1
8,management,leadership,team,Product Manager,4,6,2,7
9,analytics,business,team,Business Analyst,0,1,2,2

In [6]:
from sklearn.tree import DecisionTreeClassifier

# Features (X) and target (y)
X = df[["skills_encoded", "interests_encoded", "work_style_encoded"]]
y = df["career_encoded"]

# Train model on full dataset (because dataset is small)
model = DecisionTreeClassifier()
model.fit(X, y)

print("Model trained successfully!")

Model trained successfully!

In [7]:
import joblib

# Save model
joblib.dump(model, "src/career_model.pkl")

# Save encoders
joblib.dump(skill_enc, "src/skill_encoder.pkl")
joblib.dump(interest_enc, "src/interest_encoder.pkl")
joblib.dump(style_enc, "src/style_encoder.pkl")
joblib.dump(career_enc, "src/career_encoder.pkl")

print("Model and encoders saved successfully!")

Model and encoders saved successfully!

In [8]:
def recommend_career(skills, interests, work_style):
    s = skill_enc.transform([skills])[0]
    i = interest_enc.transform([interests])[0]
    w = style_enc.transform([work_style])[0]
    
    pred = model.predict([[s, i, w]])[0]
    return career_enc.inverse_transform([pred])[0]

# Quick test
recommend_career("python", "machine learning", "independent")

C:\Users\Asus\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

'Machine Learning Engineer'